<ol id="breadcrumb" class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="">Home</a>
  </li>
  <li class="breadcrumb-item active">Jogadores</li>
</ol>

<table id="playerstable" class="table">
  <thead class="thead-default">
    <tr>
      <th>#</th>
      <th>Foto</th>
      <th>Nome</th>
      <th>Posição</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="rows">
    <tr>
      <th scope="row">1</th>
      <td>
          <img id="image" src="../../assets/alemao.png" alt="Alemao" class="img-fluid">
      </td>
      <td>Alemão</td>
      <td>Zagueiro</td>
      <td>
        <div id="buttonbar">
          <i id="pencilicon" routerLink='/editplayer' class="fa fa-pencil fa-lg" aria-hidden="true" data-toggle="tooltip" title="Editar Jogador"></i>
          <i id="trashicon" class="fa fa-trash fa-lg" aria-hidden="true" data-toggle="tooltip" title="Remover Jogador"></i>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>
        <img id="image" src="../../assets/JuniorDutra.png" alt="JuniorDutra" class="img-fluid">
      </td>
      <td>Junior Dutra</td>
      <td>Atacante</td>
      <td>
        <div id="buttonbar">
          <i id="pencilicon" routerLink='/editplayer' class="fa fa-pencil fa-lg" aria-hidden="true" data-toggle="tooltip" title="Editar Jogador"></i>
          <i id="trashicon" class="fa fa-trash fa-lg" aria-hidden="true" data-toggle="tooltip" title="Remover Jogador"></i>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>
        <img id="image" src="../../assets/betao.png" alt="JuniorDutra" class="img-fluid">
      </td>
      <td>Betão</td>
      <td>Zagueiro</td>
      <td>
        <div id="buttonbar">
          <i id="pencilicon" routerLink='/editplayer' class="fa fa-pencil fa-lg" aria-hidden="true" data-toggle="tooltip" title="Editar Jogador"></i>
          <i id="trashicon" class="fa fa-trash fa-lg" aria-hidden="true" data-toggle="tooltip" title="Remover Jogador"></i>
        </div>
      </td>
    </tr>
  </tbody>
  
</table>

<nav id="pagination" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous" data-toggle="tooltip" title="Anterior">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next" data-toggle="tooltip" title="Próximo">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>

<div>
  <button id="btnadd" routerLink='/newplayer' class="btn btn-primary btn-lg" data-toggle="tooltip" title="Adicionar Jogador">
    <i id="addicon" class="fa fa-plus" aria-hidden="true"></i>
  </button>
</div>