<div id="wrapper" class={{toggle}}>
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a routerLink="" (click)="toggleSidebar()">Home</a>
            </li>
            <li>
                <a routerLink="/players" (click)="toggleSidebar()">Jogadores</a>
            </li>
            <li>
                <a routerLink="/coaches" (click)="toggleSidebar()">Técnicos</a>
            </li>
            <li>
                <a routerLink="/team" (click)="toggleSidebar()">Times</a>
            </li>
            <li>
                <a routerLink="/matches" (click)="toggleSidebar()">Partidas</a>
            </li>
            <li>
                <a routerLink="/users" (click)="toggleSidebar()">Usuários</a>
            </li>
            <li>
                <span> </span>
            </li>
            <li>
                <span> </span>
            </li>
            <li>
                <span id="version"> Versão: 1.0</span>
            </li>
            <li>
                <span id="copyright">©2017 Jonatas A. Tavares</span>
            </li>
        </ul>
    </div>

</div>