<ol id="breadcrumb" class="breadcrumb">
  <li class="breadcrumb-item">
    <a routerLink="">Home</a>
  </li>
  <li class="breadcrumb-item active">Partidas</li>
</ol>

<table id="matchestable" class="table">
  <thead class="thead-default">
    <tr>
      <th>Time</th>
      <th>Placar</th>
      <th>Adversário</th>
      <th>Data</th>
      <th>Campeonato</th>
      <th>Rodada</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="rows">
    <span id="zeropartidas" *ngIf="(matches | async)?.length==0">
      <b>Nenhuma partida encontrada.</b>
    </span>
    <tr *ngFor="let item of matches | async">
      <td id="td1">{{item.team.name}}</td>
      <td id="td2">{{item.score}}</td>
      <td id="td3">{{item.opponent.name}}</td>
      <td id="td4">{{item.date}}</td>
      <td id="td5">{{item.championship}}</td>
      <td id="td6">{{item.round}}</td>
      <td id="td7">
        <div id="buttonbar">
          <i id="pencilicon" [routerLink]="['editmatches', item.key]" class="fa fa-pencil fa-lg" aria-hidden="true" data-toggle="tooltip"
            title="Editar Partida"></i>
          <i id="usersicon" [routerLink]="['editplayersmatch', item.key]" class="fa fa-users fa-lg" aria-hidden="true" data-toggle="tooltip"
            title="Editar Jogadores da Partida"></i>
          <i id="trashicon" class="fa fa-trash fa-lg" aria-hidden="true" data-toggle="tooltip" title="Remover Partida" (click)="deleteItem(item)"></i>
        </div>
      </td>
    </tr>

</table>

<div id="qtdregistros" *ngIf="(matches | async)?.length>0">
  <span>
    Encontrado {{(matches | async)?.length}} registro(s).
  </span>
</div>

<div>
  <button id="btnadd" routerLink='/addmatch' class="btn btn-primary btn-lg" data-toggle="tooltip" title="Adicionar Partida">
    <i id="addicon" class="fa fa-plus" style="font-size:18px" aria-hidden="true"></i>
  </button>
</div>