<ol id="breadcrumb" class="breadcrumb">
    <li class="breadcrumb-item active">
        Home
    </li>
</ol>
<div class="col-sm-2">
    <form id="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <span id="titleconfig">
            <b>Configurações do campo:</b>
        </span>
        <select name="match" class="form-control input-sm" id="selectmatches" ngModel required #match="ngModel">
            <option value="" disabled selected>Selecione a partida</option>
            <option *ngFor="let item of matches | async" [ngValue]="item">{{item.team}} x {{item.opponent}}</option>
        </select>
        <div class="col-sm-4">
            <button id="btnsave" type="submit" class="btn btn-primary" [disabled]="!f.valid">Enviar</button>
        </div>
    </form>
</div>
<div class="container">
    <img id="soccerfield" src="../../assets/campo.jpg" alt="Campo de Futebol">
    <div id="imgPlayers" *ngFor="let item of players | async">
        <img *ngIf='item.position=="Goleiro"' id="goleiro" src="{{item.photo}}" alt="goalkeeper">
        <img *ngIf='item.position=="Zagueiro (Esquerdo)"' id="zagueiroesquerdo" src="{{item.photo}}" alt="zagueiroesquerdo">
        <img *ngIf='item.position=="Zagueiro (Direito)"' id="zagueirodireito" src="{{item.photo}}" alt="zagueirodireito">
        <img *ngIf='item.position=="Lateral (Esquerdo)"' id="lateralesquerdo" src="{{item.photo}}" alt="lateralesquerdo">
        <img *ngIf='item.position=="Lateral (Direito)"' id="lateraldireito" src="{{item.photo}}" alt="lateraldireito">
        <img *ngIf='item.position=="Volante (Esquerdo)"' id="volanteesquerdo" src="{{item.photo}}" alt="volanteesquerdo">
        <img *ngIf='item.position=="Volante (Direito)"' id="volantedireito" src="{{item.photo}}" alt="volantedireito">
        <img *ngIf='item.position=="Meia (Central)"' id="meiacentral" src="{{item.photo}}" alt="meiacentral">
        <img *ngIf='item.position=="Ponta (Esquerdo)"' id="pontaesquerdo" src="{{item.photo}}" alt="pontaesquerdo">
        <img *ngIf='item.position=="Ponta (Direito)"' id="pontadireito" src="{{item.photo}}" alt="pontadireito">
        <img *ngIf='item.position=="Centroavante"' id="centroavante" src="{{item.photo}}" alt="centroavante">
    </div>
    <div id="imgSubstitutes" *ngFor="let item of substitutes | async; let i = index" [attr.data-index]="i">
        <img *ngIf='i==0' id="reserva1" src="{{item.photo}}" alt="substitute1">
        <img *ngIf='i==1' id="reserva2" src="{{item.photo}}" alt="substitute2">
        <img *ngIf='i==2' id="reserva3" src="{{item.photo}}" alt="substitute3">
    </div>
    <img id="logotrofeuavai" src="../../assets/logo.png" alt="logotrofeuavai">
</div>