#titleconfig{
    position: absolute;
    left: 10px;
    top: 20px;
    text-align: center;
    font-size: 12pt;
}

#btnsave{
    position: absolute;
    left: 150px;
    top: 120px;
}

#selectmatches{
    position: absolute;
    left: 10px;
    top: 70px;
}

#soccerfield{
    margin-left: 300px;
    height: 520px;
    margin-top: 20px;
    box-shadow: 1px 1px  #888888;
}

#breadcrumb{
    position: absolute;
    right: 10px;
    width: 15%;
    margin-top: 10px;
    background: white;
}

#goleiro{
    position: absolute;
    left: 320px;
    top: 300px;
    height: 80px;
    width: 80px;
}